<footer class="py-3 text-center text-secondary border-top border-secondary mt-auto bg-dark w-100">
    <div class="container" style="max-width: 800px;">
        <p class="mb-2 text-light" style="font-size: 0.9rem;">
            <span class="text-warning fw-bold">Necmettin Efe KIZILKAYA</span> | <%= __('student') %> <br>
            <a href="https://github.com/nefekzlky" target="_blank" class="text-info text-decoration-none mt-1 d-inline-block"><%= __('inspect') %></a> 
            <span class="mx-1">|</span> 
            <a href="https://linkedin.com/in/necmettinefekizilkaya" target="_blank" class="text-info text-decoration-none mt-1 d-inline-block">LinkedIn</a>
        </p>
        <p class="m-0 mt-2" style="font-size: 0.70rem; opacity: 0.5;">
            <%= __('disclaimer') %>
        </p>
    </div>
</footer>